striped*
venv.sh
__pycache__
*.pyc
/download
/release
/icons_from_tibanne
/websocket
/praw
/prawcore
/iterators
*.zip
*.mp4
*.ogv
/scripts/packaged_local.sh
/scripts/deploy.sh
/scripts/sign.sh
/doc/manual/manual.html
qresources.py
NOTES
/social
