striped*
venv.sh
__pycache__
*.pyc
/download
/release
/icons_from_tibanne
/websocket
/praw
/prawcore
/iterators
*.zip
*.mp4
*.ogv
/scripts/local_release.sh
/scripts/deploy.sh
/update_checker/*
/doc/manual/manual.html
qresources.py
